{% extends 'base.html.twig' %}


{% block container_title %}
    Liste des personnes
{% endblock %}


{% block body %}
    <a href="{{ path('personne_creer') }}" class="btn btn-primary mb-3">
        <i class="fas fa-plus"></i> Ajouter
    </a>

    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Nom</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.email }}</td>
                <td>{{ personne.nom }}</td>
                <td>
                    <a href="{{ path('personne_modifier', {email: personne.email}) }}" class="btn btn-warning btn-sm">
                        <i class="fas fa-user-edit"></i> Modifier
                    </a>
                    <a href="{{ path('personne_absence_calendrier', {email: personne.email}) }}" class="btn btn-default btn-sm">
                        <i class="far fa-calendar-check"></i> Calendrier
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
