{% extends 'base.html.twig' %}

{% block body %}
    <h3>Liste des personnes</h3>
    <a href="{{ path('person_create') }}" class="btn btn-primary">Ajouter</a>

    <table class="table">
        <thead>
        <tr>
            <th>Email</th>
            <th>Nom</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
            <tr>
                <td>{{ personne.email }}</td>
                <td>{{ personne.nom }}</td>
                <td>
                    <a href="{{ path('person_update', {email: personne.email}) }}">Modifier</a>
                    <a href="{{ path('person_deposer_absence', {email: personne.email}) }}">Deposer une absence</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
