{% extends 'base.html.twig' %}

{% block body %}
    <h3>Mettre à jour une personne {{ form.vars.value.email }}</h3>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.nom) }}
        <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}
