{% extends 'base.html.twig' %}

{% block body %}
    <h3>Absences de {{ personne.nom }} de {{ startPeriod|date('d/m/Y') }} à {{ endPeriod|date('d/m/Y') }}</h3>

    <div class="row">
        {% for i in range(0, 6) %}
            <div class="col-sm-1">
                <div class="alert alert-secondary text-center">
                    {{ startPeriod.modify('+' ~ i ~ ' days').format('d/m') }}
                </div>
            </div>
        {% endfor %}
    </div>

    {% for a in absences %}
        <div class="row">
            {% set offset = startPeriod.diff(a.debut).days %}
            {% set duration = a.debut.diff(a.fin).days %}
            <div class="col-sm-12">
                {{ dump(offset) }}
                {{ dump(duration) }}
            </div>
            <div class="offset-sm-{{ offset }} col-sm-{{ offset + duration > 7 ? 7 - offset : offset + duration }}">
                <div class="alert alert-primary" role="alert">
                    {{ a.type.label(a.type.type) }} de {{ a.debut|date('d/m/Y') }} à {{ a.fin|date('d/m/Y') }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
